body {
	/*font-family: 'Roboto', sans-serif;
	font-weight: 500;*/
	/*padding-top: 70px;*/
}

.container-custom {
	margin-top: 72px;
}

.breadcrumb-custom {
    /*background-color: #a6a08d;*/
		background-color: #594f2c;
    list-style: outside none none;
    position: fixed;
    top: 51px;
    width: 100%;
    z-index: 999;
}

.breadcrumb-custom > li > span {
	color: #fff;
}

.form-control-focus:focus {
	border-color: white;
}

@media (max-width: 767px) {
    .space-bottom {
        margin-bottom: 15px;
    }
}
