.navbar-bottom-custom {
    /*background-color: rgba(140, 131, 98, 1) !important;
    background-color: rgba(227, 206, 129, 1) !important;
    background-color: rgba(89, 79, 44, 1) !important;*/
    background-position: center bottom;
    background-size: cover;
    max-height: 40px;
    min-height: 40px;
    position: relative;
    border-radius: 0;
    margin-bottom: 0;
    margin-top: 15px;
    border-top: 1px solid #8c8362;
}

.logo-rodape {
  max-height: 50px;
  min-height: 50px;
  position: relative;
}

.conteudo-rodape {
  margin: auto;
  left: 0;
  right: 0;
  position: absolute;
}

.texto-rodape {
  color: #8c8362;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 11px;
}
