<div class="footer" ng-controller="RodapeCtrl as rodape">
  <div class="container">
    <div class="footer-grids">
      <div class="col-lg-4 col-md-4 footer-grid">
        <div class="footer-grid-heading">
          <h4>Navegação</h4>
        </div>
        <div class="footer-grid-info">
          <ul>
            <li><a href="#/quemsomos">Quem Somos</a></li>
            <li><a href="#/comofunciona">Como Funciona</a></li>
            <li><a ng-href="#/faleconosco">Fale Conosco</a></li>
            <li><a ng-href="#/planos">Planos</a></li>
            <li><a href="javascript:void(0);">Anunciar</a></li>
            <li><a ng-href="#/privacidade">Política de Privacidade</a></li>
            <li><a ng-href="#/termos">Termos e Condições Gerais</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 footer-grid">
        <div class="footer-grid-heading">
          <h4>Compartilhe</h4>
        </div>
        <div class="social">
          <ul>
            <!-- <li><a href="#"><i class="fa fa-facebook" data-href="http://www.google.com" data-layout="button_count"></i></a></li> -->
            <li>
              <div class="fb-share-button"
              		data-href="http://www.google.com"
              		data-layout="button_count">
              </div>
            </li>
            <!-- <li><a href="#"><i class="fa fa-twitter"></i></a></li> -->
            <!-- <li><a href="#"><i class="fa fa-rss"></i></a></li> -->
            <!-- <li><a href="#"><i class="fa fa-vk"></i></a></li> -->
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 footer-grid">
        <div class="footer-grid-heading">
          <h4>Novidades</h4>
        </div>
        <div class="footer-grid-info">
          <form name="rodape.formnews" novalidate="true">
            <input ng-model="rodape.email" type="email" id="mc4wp_email" name="EMAIL" placeholder="Coloque seu email aqui" ng-required="true">
            <input type="submit" ng-click="rodape.cadastraEmail();" value="Enviar">
          </form>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
    <div class="copyright">
      <p>© 2016 Campo House . Todos os direitos reservados | Design by <a href="http://w3layouts.com/" target="_blank"> W3layouts</a> </p>
    </div>
  </div>
</div>


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
