<div class="banner about-bg" ng-controller="MenuCtrl">
  <div class="header">
    <div class="container container-menu">
      <div class="logo">
          <a href="index.html">
            <img class="img-responsive img-logo" src="app/img/modelo1.png">
          </a>
      </div>
      <div class="top-nav">
        <nav class="navbar navbar-default">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Menu
            </button>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a ng-href="#/home2">Início</a></li>
              <li><a ng-href="#/quemsomos">Quem Somos</a></li>
              <li><a ng-href="#/comofunciona">Como Funciona</a></li>
              <li><a ng-href="#faleconosco">Fale Conosco</a></li>
              <li><a href="javascript:void(0);" ng-click="anunciar();">Anunciar</a></li>
              <li ng-hide="logged" ><a ng-href="#/entrar">Entrar</a></li>
              <li ng-show="logged" ><a ng-href="#/meusanuncios">Meus Anúncios</a></li>
              <li ng-show="logged"><a href="javascript:void(0);" ng-click="logout();">Sair</a></li>
              <li ng-show="logged"><a href="javascript:void(0);">Olá, {{ usuario.nome.split(' ')[0] }}</a></li>
              <div class="clearfix"></div>
            </ul>
          </div>
        </nav>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>

<!-- <toaster-container toaster-options="{'position-class': 'toast-bottom-right'}" ></toaster-container> -->
