.navbar-fixed-top-custom {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.img-logo {
    max-height: 40px;
}

.nav-brand-logo {
    padding-top: 5px;
}

.navbar-default {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
}

.foto-perfil {
    max-height: 40px;
    border: 1px solid;
}

.navbar-nav > li > a.perfil {
    padding-bottom: 4px;
    padding-top: 6px;
}

/*.navbar-default .navbar-nav-custom > li > a {
    color: #fff;
}

.navbar-default .navbar-nav-custom > li > a:hover,
.navbar-default .navbar-nav-custom > li > a:focus {
    color: #fff;
}*/

.navbar-default .navbar-nav-custom > .open > a,
.navbar-default .navbar-nav-custom > .open > a:focus,
.navbar-default .navbar-nav-custom > .open > a:hover {
    background-color: rgba(0,0,0,0);
    /*color: #fff*/
}

/*.navbar-fixed-top-custom {
    position: absolute;
}

.navbar-nav > li > .dropdown-menu-custom {
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
}*/


.navbar-fixed-top-custom {
    border-bottom: 1px solid #a6a08d;
    position: fixed;
    background-color: rgba(255, 255, 255, 1);
}

.navbar-nav > li > .dropdown-menu-custom {
    border: 1px solid #a6a08d;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.nav-justified > li.active-custom.active {
    border-bottom: 1px solid #a6a08d;
}

.navbar-toggle-custom {
    border: 0;
    float: left;
}

.navbar-default .navbar-toggle-custom .icon-bar {
    background-color: #fff;
}

.navbar-fixed-top-custom .navbar-toggle-custom:hover,
.navbar-fixed-top-custom .navbar-toggle-custom:focus {
    background-color: rgba(0,0,0,0);
}

/*.dropdown-menu-custom > li > a {
    color: #736945;
}

.dropdown-menu-custom > li > a:hover,
.dropdown-menu-custom > li > a:focus {
    background-color: #A69F85;
    color: #594F2C;
}*/

.navbar-default .navbar-collapse-custom {
    border-color: #A69F85;
}

.dropdown-menu .divider {
    background-color: #A69F85;
}

/*.navbar-fixed-top-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #736945;
}

.navbar-fixed-top-custom .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar-fixed-top-custom .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #594F2C;
}*/

@media (max-width: 767px) { 
    .navbar-default {
        background-color: #fff;
        border-color: #fff;
    }

    /*.navbar-default .navbar-nav-custom > li > a {
        color: #736945;
    }

    .navbar-default .navbar-nav-custom > li > a:hover,
    .navbar-default .navbar-nav-custom > li > a:focus {
        color: #736945;
    }

    .navbar-default .navbar-nav-custom > .open > a,
    .navbar-default .navbar-nav-custom > .open > a:focus,
    .navbar-default .navbar-nav-custom > .open > a:hover {
        background-color: rgba(0,0,0,0);
        color: #736945;
    }*/

    .navbar-default .navbar-toggle-custom .icon-bar {
        background-color: #5CB85C;
    }

    .img-logo {
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
    }
}