<link rel="stylesheet" href="app/menu/menu2.css" charset="utf-8">
<link rel="stylesheet" href="app/anuncio/anuncio.css" charset="utf-8">
<style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map {
        height: 100%;
        max-height: 500px;
      }
      /*.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
          background-color: #5cb85c;
          opacity: 1;
      }*/
    </style>

<div ng-include src="'app/menu/menu2.html'"></div>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li ng-repeat="foto in anuncio.listaArquivos" data-target="#carousel-example-generic" data-slide-to="{{foto.num}}"></li>
      <!-- <li data-target="#carousel-example-generic" data-slide-to="2"></li> -->
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div class="foto-anuncio-carousel" style="background-image:url({{fotoPrincipal.path}})"></div>
        <div class="carousel-caption"></div>
      </div>
      <div ng-repeat="foto in anuncio.listaArquivos" class="item">
        <div class="foto-anuncio-carousel" style="background-image:url({{foto.path}})"></div>
        <div class="carousel-caption"></div>
      </div>
      <!-- <div class="item">
        <div class="foto-anuncio-carousel" style="background-image:url('app/img/foto-rancho-2.jpg')"></div>
        <div class="carousel-caption"></div>
      </div>
      <div class="item">
        <div class="foto-anuncio-carousel" style="background-image:url('app/img/foto-rancho.jpeg')"></div>
        <div class="carousel-caption"></div>
      </div> -->
    </div>

    <!-- Controls -->
    <a class="left carousel-control carousel-control-custom" href="javascript(0);" data-target="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control carousel-control-custom" href="javascript(0);" data-target="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>




<div class="container container-anuncio">

  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 div-preco">
      <div class="panel panel-default">
          <div class="panel-heading">
              <h3 class="panel-title"><strong>{{ anuncio.precoDiaria | currency:'R$'}}</strong> <span class="text-right">por dia</span></h3>

          </div>
          <div class="panel-body">
              <p class="anuncio-nome-dono">{{anuncio.usuario.nome + ' ' + anuncio.usuario.sobreNome}}</p>
              <p class="anuncio-contato-dono"><i class="fa fa-mobile" aria-hidden="true"></i> {{formatTeleone(anuncio.usuario.telefone)}}</p>
              <form class="form-horizontal form-custom-mensagem">
                  <div class="form-group">
                      <label>Deixe uma mensagem:</label>
                      <textarea ng-model="mensagem.texto" class="form-control no-resize" rows="3"></textarea>
                  </div>
                  <div class="form-group">
                      <button ng-disabled="!mensagem.texto" ng-click="enviarMensagem();" type="button" class="btn btn-success btn-block">Enviar</button>
                  </div>
              </form>
          </div>
        </div>
  </div>
  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 div-espaco">

    <div class="row row-space-bottom">
      <h3 class="text-title-2">{{anuncio.sobreTitulo}}</h3>
      <!-- <p>Camponesa, Lins, SP</p> -->
      <p>{{logradouro.localRua + ', ' + logradouro.localCidade + ', ' + logradouro.localEstado }}</p>
      <div class="container-icons">
          <div ng-show="anuncio.tipoImovel.nome" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
              <i class="fa fa-home fa-espaco" aria-hidden="true"></i>
              <p>{{anuncio.tipoImovel.nome}}</p>
          </div>
          <div ng-show="anuncio.numAcomoda.num" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
              <i class="fa fa-users fa-espaco" aria-hidden="true"></i>
              <p>Acomoda {{anuncio.numAcomoda.num}}</p>
          </div>
          <div ng-show="anuncio.numCamas" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
            <i class="fa fa-bed fa-espaco" aria-hidden="true"></i>
            <p>{{anuncio.numCamas}} Camas</p>
          </div>
          <div ng-show="anuncio.numQuartos" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
            <i class="fa fa-bed fa-espaco" aria-hidden="true"></i>
            <p>{{anuncio.numQuartos}} Quartos</p>
          </div>
          <div ng-show="anuncio.numBanheiros" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
            <i class="fa fa-bed fa-espaco" aria-hidden="true"></i>
            <p>{{anuncio.numBanheiros}} Banheiros</p>
          </div>
      </div>
    </div>

    <div class="row row-space-bottom">
        <h4 class="text-title-2">Sobre o imóvel</h4>
        <p class="text-justify text-justify-padding-right">
          {{anuncio.sobreDescricao}}
          <!-- Rancho Valfenda, localizado em um condomínio nobre de Rifaina /sp, com monitoramento 24 hrs, em frente a represa de furnas, a 1 km do centro da cidade de Rifaina no perímetro urbano com asfalto até a entrada do Rancho. o Rancho Valfenda, fica em uma avenida iluminada próximo a antiga estação de trem e em frente a Orla Marítima de Rifaina, Local Familiar, agradável e aconchegante para você curtir seu fim de semana, Natal, Reveillon, Férias e Feriados. -->
        </p>
    </div>

    <div class="row row-space-bottom">
        <h4 class="text-title-2">Comodidades</h4>
        <ul>
          <div ng-repeat="comodidade in anuncio.listaComodidades">
            <li>{{comodidade.descComodidade}}</li>
          </div>
          <!-- <li>Ar Condicionado</li>
          <li>Cozinha</li>
          <li>Internet</li>
          <li>Estacionamento</li>
          <li>Piscina</li>
          <li>Ar Condicionado</li>
          <li>Quadra de Esportes</li> -->
        </ul>
    </div>

    <div class="row row-space-bottom">
        <h4 class="text-title-2">O que levar</h4>
        <p class="text-justify text-justify-padding-right">
            {{anuncio.oquelevar}}
        </p>
    </div>

    <div class="row row-space-bottom">
      <h4 class="text-title-2">O que NÃO levar</h4>
      <p class="text-justify text-justify-padding-right">
          {{anuncio.oquenaolevar}}
      </p>
    </div>

    <div class="row row-space-bottom">
        <h4 class="text-title-2">Oferta de Valor</h4>
        <p class="text-justify text-justify-padding-right">
            Este imóvel é perfeito para pescarias.
        </p>
    </div>

  </div>

  <div class="row row-space-bottom">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h4 class="text-title-2">Localização</h4>
          <div id="map" class=""></div>
          <!-- <img ng-src="map"> -->
      </div>
  </div>

</div>
<div ng-include src="'app/rodape/rodape.html'"/>
<script src="app/anuncio/anuncio.controller.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    function initMap() {
      // Create a map object and specify the DOM element for display.
      var map = new google.maps.Map(document.getElementById('map'), {
        // center: {lat: -21.672564, lng: -49.744592},
        center: {lat: lat, lng: lng},
        scrollwheel: false,
        zoom: 14
      });

      var marker = new google.maps.Marker({
        position: {lat: lat, lng: lng},
        map: map,
        title: title
      });
    };
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChWt-XyddUOqFe6LFUI-6GwhS7oGCPsDQ&callback=initMap"></script>
