<link rel="stylesheet" href="app/menu/menu-home.css" charset="utf-8">
<link rel="stylesheet" href="app/menu/menu-geral.css" charset="utf-8">
<link rel="stylesheet" href="app/anuncio/anuncio.css" charset="utf-8">
<style type="text/css">
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #map {
        height: 100%;
        max-height: 500px;
    }

    figure {
        margin: 0;
        width: 16.66666667%;
        display: inline;
        float: left;
        padding: 3px;
    }
</style>

<div ng-include src="'app/menu/menu3.html'"></div>

<!-- width: 33.4%; -->
<div class="container container-anuncio">

    <div class="row" style="margin-bottom: 2em;">
        <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">

            <figure itemprop="associatedMedia" ng-repeat="foto in anuncio.listaArquivos" itemscope itemtype="http://schema.org/ImageObject">
                <a ng-href="{{foto.path}}" itemprop="contentUrl" data-size="{{foto.width + 'x' + foto.height}}">
                    <img ng-src="{{foto.path}}" itemprop="thumbnail" alt="Image description" class="img img-responsive" />
                </a>
            </figure>
        </div>
    </div>

    <div id="div-preco" class="col-lg-4 col-md-4 col-sm-4 col-xs-12 div-preco">
        <div class="panel panel-default">
            <div class="panel-heading panel-heading-custom">
                <h3 class="panel-title"><strong>{{ anuncio.precoDiaria | currency:'R$'}}</strong> <span class="text-right"> (diária)</span></h3>

            </div>
            <div class="panel-body">
                <p class="anuncio-nome-dono">{{anuncio.usuario.nome + ' ' + anuncio.usuario.sobreNome}}</p>
                <p class="anuncio-contato-dono"><i class="fa fa-mobile" aria-hidden="true"></i> {{formatTeleone(anuncio.usuario.telefone)}}</p>
                <form class="form-horizontal form-custom-mensagem">
                    <div class="form-group">
<!-- <<<<<<< HEAD -->
                        <label>Deixe uma mensagem:</label>
                        <textarea ng-disabled="!logged" ng-model="mensagem.texto" class="form-control no-resize" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <a ng-show="!logged" ng-href="#/entrar" class="btn btn-lg btn-danger btn-block" target="_blank">Quer mandar uma mensagem?</a>
                        <button ng-show="logged" ng-disabled="!mensagem.texto" ng-click="enviarMensagem();" type="button" class="btn btn-lg btn-danger btn-block">Enviar</button>
<!-- ======= -->
                        <!-- <p class="anuncio-nome-dono">Escreva uma mensagem:</p>
                        <textarea ng-model="mensagem.texto" class="form-control no-resize" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <button ng-disabled="!mensagem.texto" ng-click="enviarMensagem();" type="button" class="btn btn-lg btn-danger btn-block">Enviar</button> -->
<!-- >>>>>>> da2af39eeb6d2168674b3e899089aaf2ffc24cb6 -->
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 div-espaco">

        <div class="row row-space-bottom">
            <h3 class="">{{anuncio.sobreTitulo}}</h3>
            <p class="text-title-2">{{logradouro.endereco }}</p>
            <div class="container-icons">
                <div ng-show="anuncio.tipoImovel.nome" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
                    <i class="fa fa-home fa-espaco" aria-hidden="true"></i>
                    <p class="p-espaco">{{anuncio.tipoImovel.nome}}</p>
                </div>
                <div ng-show="anuncio.numAcomoda.num" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
                    <i class="fa fa-users fa-espaco" aria-hidden="true"></i>
                    <p class="p-espaco">Acomoda {{anuncio.numAcomoda.num}}</p>
                </div>
                <div ng-show="anuncio.numCamas" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
                    <i class="fa fa-bed fa-espaco" aria-hidden="true"></i>
                    <p class="p-espaco">{{anuncio.numCamas}} Camas</p>
                </div>
                <div ng-show="anuncio.numQuartos" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
                    <i class="fa fa-bed fa-espaco" aria-hidden="true"></i>
                    <p class="p-espaco">{{anuncio.numQuartos}} Quartos</p>
                </div>
                <div ng-show="anuncio.numBanheiros" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
                    <i class="fa fa-bed fa-espaco" aria-hidden="true"></i>
                    <p class="p-espaco">{{anuncio.numBanheiros}} Banheiros</p>
                </div>
            </div>
        </div>

        <div class="row row-space-bottom">
            <hr>
            <h4 class="">Sobre o imóvel</h4>
            <p class="text-justify text-title-2 text-justify-padding-right">
                {{anuncio.sobreDescricao}}
            </p>
        </div>

        <div class="row row-space-bottom">
            <hr>
            <h4 class="">Comodidades</h4>
            <ul>
                <div ng-repeat="comodidade in anuncio.listaComodidades">
                    <li class="text-title-2">{{comodidade.descComodidade}}</li>
                </div>
            </ul>
        </div>

        <div ng-show="anuncio.oquelevar" class="row row-space-bottom">
            <hr>
            <h4 class="">O que levar</h4>
            <p class="text-justify text-title-2 text-justify-padding-right">
                {{anuncio.oquelevar}}
            </p>
        </div>

        <div ng-show="anuncio.oquenaolevar" class="row row-space-bottom">
            <hr>
            <h4 class="">O que NÃO levar</h4>
            <p class="text-justify text-title-2 text-justify-padding-right">
                {{anuncio.oquenaolevar}}
            </p>
        </div>

        <div class="row row-space-bottom">
            <hr>
            <h4 class="">Oferta de Valor</h4>
            <p class="text-justify text-title-2 text-justify-padding-right">
                Este imóvel é perfeito para pescarias.
            </p>
        </div>

    </div>

    <div ng-show="showlocalizacao" class="row row-space-bottom">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <hr>
            <h4 class="">Localização</h4>
            <div id="map" class=""></div>
        </div>
    </div>

</div>
<div ng-include src="'app/rodape/rodape.html'" />
<!-- <script src="app/anuncio/anuncio.controller.js" type="text/javascript" charset="utf-8"></script> -->

<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe.
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>
