.div-pesquisa {
    background-color: #edefed;
    padding: 20px 10px;
    width: 100%;
    z-index: 99;
}

.navbar {
  margin-bottom: 0 !important;
}

.form-pesquisa {
  margin-bottom: 0;
  padding: 0 15px;
}

.container-anuncios {
    padding-bottom: 20px;
}

.container-anuncios > p {
  margin-bottom: 0;
  margin-left: 15px;
}

.div-anuncio {
  margin-bottom: 30px;
}

.info {
  padding: 15px 0;
}

.detalhe-foto-anuncio {
		background-color: rgba(91, 91, 91, 1);
    bottom: 15px;
    color: white;
    position: absolute;
    right: 15px;
}

.detalhe-foto-anuncio > .item {
  border-right: 1px solid white;
  float: right;
  font-size: 18px;
  padding: 5px 7px;
}
