@media (max-width: 767px) {
	.nav-stacked > li {
	  float: left;
	}
	.nav-stacked > li + li {
	  margin-left: 2px;
	}
	.menu-stacked-fixed {
		position: static !important;
	}

}

.menu-stacked-fixed {
	position: fixed;
}

.menu-stacked-fixed-right {
	position: fixed;
	right: 0;
}

.disable-cadastro {
	display: none !important;
}

.enable-cadastro {
	display: inline !important;
}

.divFoto {
	padding-bottom: 15px;
}

.btn-rem-foto {
	position: absolute;
    right: 15px;
    top: 0;
    z-index: 99;
}

.nav-pills > li.active > a.a-nav-custom,
.nav-pills > li.active > a.a-nav-custom:focus,
.nav-pills > li.active > a.a-nav-custom:hover {
    background-color: transparent;
    color: #fd5c63;
    font-weight: 700;
}

.a-nav-custom {
    color: #ccc;
}

.a-nav-custom:focus,
.a-nav-custom:hover {
    color: #fd5c63;
}

.nav > li > a:hover {
    background-color: #fff;
}

.label-form {
	padding-top: 10px;
}

fieldset legend h3 {
	margin-top: 0;
}

.w3l-about-heading-custom {
	padding-top: 30px;
	padding-bottom: 20px;
}
.img-cadastro {
	vertical-align: middle;
	width: 100%
}

@media (max-width: 767px) {
	.nav-justified > li.active-custom {
    	display: none;
	}
	.active-custom.active {
	    display: block !important;
	}
}
