<div ng-controller="HomeCtrl">
<script type="application/x-javascript">
	addEventListener("load", function() {
		setTimeout(hideURLbar, 0);
	}, false);

	function hideURLbar() {
		window.scrollTo(0, 1);
	}
</script>
<link rel="stylesheet" href="app/menu/menu-home.css" charset="utf-8">
<link href='//fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<div ng-include src="'app/menu/menu3.html'" />
<div id="kb" class="carousel kb_elastic animate_text kb_wrapper" data-ride="carousel" data-interval="6000" data-pause="none">

	<div class="carousel-inner" role="listbox">

		<div class="item active">
			<div style="min-height:800px; background:rgba(0, 0, 0, 0) url('../images/home-lins.jpg') no-repeat scroll 0 0 / cover ">
			</div>
		</div>

		<div class="item">
			<div style="min-height:800px; background:rgba(0, 0, 0, 0) url('../images/home-guaicara.jpg') no-repeat scroll 0 0 / cover ">
			</div>
		</div>

		<div class="item">
			<div style="min-height:800px; background:rgba(0, 0, 0, 0) url('../images/home-sabino.jpg') no-repeat scroll 0 0 / cover ">
			</div>
		</div>

	</div>

	<div class="texto-principal text-center">
		<h1>Saia do agito e relaxe!</h1>
		<h3>A tranquilidade vive aqui.</h3>
	</div>
	<div class="tarja-busca">
		<div class="container-fluid">
			<form class="form-horizontal">
				<div class="col-lg-6 collg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
					<div class="input-group">
						<!-- <input type="text" ng-model="nomeCidade" class="form-control form-control-focus input-lg" placeholder="Busque pela cidade que deseja"> -->
						<select type="text" ng-model="nomeCidade" ng-options="cidade for cidade in cidades" class="form-control form-control-focus input-lg"></select>
						<span class="input-group-btn">
		        	<a ng-href="#/buscaranuncio/{{nomeCidade}}" class="btn btn-lg btn-success" type="button">Buscar</a>
		  			</span>
						<!-- {{nomeCidade}} -->
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- <div class="offer" style="background: floralwhite; padding: 5% 0;">
	<div class="container">
		<div class="wthree-offer-grid" style="background: url(images/o1.jpg) no-repeat 0px 0px;">
			<h4>ANUNCIE GRÁTIS</h4>
			<div class="click-button">
				<button ng-click="anuciegratis();" class="btn2">Anunciar</button>
			</div>
		</div>
	</div>
</div> -->

<div class="about">
	<div class="container">
		<div class="w3l-about-heading">
			<h2>AQUI VOCÊ ENCONTRA</h2>
			<p>Lazer para todos os gostos e idades.</P>
		</div>
		<div class="about-grids">
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 about-grid">
				<div class="about-grid-info effect-1">
					<img class="img-responsive img-circle" src="../images/home-encontra-fut.jpg" alt="" />
					<h4 class="desc-encontra">Mini campo</h4>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 about-grid">
				<div class="about-grid-info effect-1">
					<img class="img-responsive img-circle" src="../images/home-encontra-swi.jpg" alt="" />
					<h4 class="desc-encontra">Piscina</h4>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 about-grid">
				<div class="about-grid-info effect-1">
					<img class="img-responsive img-circle" src="../images/home-encontra-pier.jpg" alt="" />
					<h4 class="desc-encontra">Pier para pesca</h4>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 about-grid">
				<div class="about-grid-info about-grid-info3 effect-1">
					<img class="img-responsive img-circle" src="../images/home-encontra-party.jpg" alt="" />
					<h4 class="desc-encontra">Locais para eventos</h4>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>



<div class="offer">
	<div class="container">
		<div class="news-heading">
			<h3>ÚLTIMAS POSTAGENS</h3>
			<p></p>
		</div>
		<div class="news-grids">
			<div ng-repeat="anuncio in anuncioshome" class="col-md-4 news-grid">
				<div class="agile-news-grid-info">
					<div class="news-grid-info-img">
						<a href="#/anuncio/{{anuncio._id}}" target="_blank">
							<div class="fotos-ranchos-home" style="background-image:url('{{anuncio.listaArquivos[0].path}}')"></div>
						</a>
					</div>
					<div class="news-grid-info-bottom">
						<div class="date-grid">
							<div class="admin">

								<a>
									<div style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
										<i class="fa fa-map-marker" aria-hidden="true"></i>
										{{anuncio.endereco.localCidade}}
									</div>
								</a>
							</div>
							<div class="time hidden">
								<p style="font-size: 11px;"><i class="fa fa-calendar" aria-hidden="true"></i> {{ dataformatada(anuncio.dataCadastro);  }}</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="news-grid-info-bottom-text">
							<a href="#/anuncio/{{anuncio._id}}" target="_blank" >
								<div style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
									{{anuncio.sobreTitulo}}
								</div>
							</a>
							<p>
								<div style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
									{{anuncio.sobreDescricao}}
								</div>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>

<!-- footer -->
<div ng-include src="'app/rodape/rodape.html'" />
</div>
