<link rel="stylesheet" href="app/menu/menu-home.css" charset="utf-8">
<link rel="stylesheet" href="app/menu/menu-geral.css" charset="utf-8">
<div ng-include src="'app/menu/menu3.html'"></div>
<style media="screen">
select {
  display: inline-block;
  background: none;
  border: 1.5px solid #BBBBBB;
  width: 100%;
  outline: none;
  padding: 10px 15px 10px 15px;
  font-size: .9em;
  color: #BBBBBB;
  margin-bottom: 1.5em;
}
</style>
<div class="a-grid">
    <div class="container">
        <div class="w3l-about-heading">
            <h2>ENTRAR</h2>
            <p>Não tem uma conta Campo House? Cadastre-se é rápido.</p>
        </div>
        <div class="col-md-6">
            <div class="agile-contact-form">
                <div class="col-md-12 contact-form-right">
                    <div class="contact-form-top">
                        <h3 class="text-center">Entrar</h3>
                    </div>
                    <div class="contact-form-grid">
                        <form name="loginForm" novalidate="true">
                            <input type="email" name="emailLogin" ng-model="login.emailLogin" placeholder="Email" ng-required="true" ng-class="{ 'erro' : loginForm.emailLogin.$invalid && loginForm.emailLogin.$touched }">
                            <input type="password" name="senhaLogin" ng-model="login.senhaLogin" placeholder="Senha" ng-required="true" ng-class="{ 'erro' : loginForm.senhaLogin.$invalid && loginForm.senhaLogin.$touched }">
                            <button ng-click="logar();" class="btn1 pull-right">Entrar</button>
                        </form>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="agile-contact-form">
                <div class="col-md-12 contact-form-right">
                    <div class="contact-form-top">
                        <h3 class="text-center">Cadastre-se</h3>
                    </div>
                    <div class="contact-form-grid">
                        <form name="formCadastro" novalidate="">
                            <input type="text" ng-model="cadastro.nomeCadastro" name="nome" placeholder="Seu nome completo" ng-required="true" ng-class="{ 'erro' : formCadastro.nome.$invalid && formCadastro.nome.$touched }">
                            <p ng-show="formCadastro.nome.$invalid && formCadastro.nome.$touched" class="text-danger" style="margin-top: -1em;">Campo obrigatório</p>
                            <input type="email" ng-model="cadastro.emailCadastro" name="email" placeholder="Seu melhor email" ng-required="true" ng-class="{ 'erro' : formCadastro.email.$invalid && formCadastro.email.$touched }">
                            <p ng-show="formCadastro.email.$invalid && formCadastro.email.$touched && formCadastro.email.$error.required" class="text-danger" style="margin-top: -1em;">Campo obrigatório</p>
                            <p ng-show="formCadastro.email.$invalid && formCadastro.email.$touched && formCadastro.email.$error.email" class="text-danger" style="margin-top: -1em;">E-mail inválido</p>
                            <input type="text" ng-model="cadastro.telefoneCadastro" ui-br-phone-number name="telefone" ng-required="true" ng-class="{ 'erro' : formCadastro.telefone.$invalid && formCadastro.telefone.$touched }">
                            <p ng-show="formCadastro.telefone.$invalid && formCadastro.telefone.$touched" class="text-danger" style="margin-top: -1em;">Campo obrigatório</p>
                            <input type="password" ng-model="cadastro.senhaCadastro" name="senhaCadastro" placeholder="Senha" ng-required="true" ng-minlength="6" ng-maxlength="20" ng-class="{ 'erro' : formCadastro.senhaCadastro.$invalid && formCadastro.senhaCadastro.$touched }">
                            <p ng-show="formCadastro.senhaCadastro.$error.minlength" class="text-danger"  style="margin-top: -1em;">Muito pequena</p>
                            <p ng-show="formCadastro.senhaCadastro.$error.maxlength" class="text-danger" style="margin-top: -1em;">Muito grande</p>
                            <p ng-show="!formCadastro.senhaCadastro.$error.minlength && !formCadastro.senhaCadastro.$error.maxlength && formCadastro.senhaCadastro.$invalid && formCadastro.senhaCadastro.$touched" class="text-danger" style="margin-top: -1em;">Campo obrigatório</p>
                            <input type="password" ng-model="cadastro.repetirSenhaCadastro" name="repetirSenhaCadastro" placeholder="Digite novamente sua Senha" ng-required="true" ng-class="{ 'erro' : formCadastro.repetirSenhaCadastro.$invalid && formCadastro.repetirSenhaCadastro.$touched }">
                            <p ng-show="formCadastro.repetirSenhaCadastro.$invalid && formCadastro.repetirSenhaCadastro.$touched" class="text-danger" style="margin-top: -1em;">Campo obrigatório</p>
                            <p ng-hide="cadastro.repetirSenhaCadastro === cadastro.senhaCadastro" class="text-danger" style="margin-top: -1em;">Senha não confirmada</p>

                            <div class="row" style="margin-right: 0px; margin-left: 0px;">
                              <div class="col-xs-6" style="padding-left: 0px;">
                                <select ng-model="cadastro.plano" ng-options="item.value as item.label for item in planos">
                                </select>
                              </div>

                              <div class="col-xs-6" style="padding-left: 0px;">
                                <p ng-show="cadastro.plano==1" style=" margin-top: 0.7em; font-size: 0.8em; text-align: center;">30 Dias por apenas R$ 44.90</p>
                                <p ng-show="cadastro.plano==2" style=" margin-top: 0.7em; font-size: 0.8em; text-align: center;">180 Dias por apenas R$ 22.90/mês</p>
                                <p ng-show="cadastro.plano==3" style=" margin-top: 0.7em; font-size: 0.8em; text-align: center;">365 Dias por apenas R$ 14.90/mês</p>
                              </div>
                            </div>
                            <div class="row" style="margin-right: 0px; margin-left: 0px;">
                              <a target="_blank" ng-href="#/comofunciona" style="font-size: 0.9em;">Saiba mais sobre nossos planos</a>
                            </div>
                            <div class="row" style="margin-right: 0px; margin-left: 0px; margin-top: 0.2em;">
                              <a target="_blank"  ng-href="#/privacidade" style="font-size: 0.9em;">Política de Privacidade</a>
                            </div>
                            <div class="row" style="margin-right: 0px; margin-left: 0px;">
                              <a target="_blank"  ng-href="#/termos" style="font-size: 0.9em;">Termos de Uso</a>
                            </div>
                            <div class="row" style="margin-right: 0px; margin-left: 0px;">
                              <!-- <div class="col-xs-6" style="padding-left: 0px;"> -->
                                <div class="checkbox" style="font-size: 0.9em;">
                                  <label><input ng-model="aceite" type="checkbox" value="">Li e Aceito os Termos</label>
                                </div>
                              <!-- </div> -->
                              <!-- <a ng-href="#" style="font-size: 0.9em;">Saiba mais sobre nossos planos</a> -->
                            </div>

                            <button class="btn1 pull-right" ng-disabled="cadastro.repetirSenhaCadastro != cadastro.senhaCadastro && aceite" ng-click="cadastrar();">Enviar</button>
                        </form>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>

    </div>
</div>
<div ng-include src="'app/rodape/rodape.html'" />
