.nav-sobrenos {
  margin-top: 20px;
}

.img-sobrenos {
  background-image: url("../img/cidade_lins.jpg");
  background-position: 50% 20%;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0 !important;
  color: #fff;
  margin-bottom: -15px;
  opacity: 0.7;
  padding: 131px 0;
}
